<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-primary text-white bg-primary">
    <div class="container-fluid">
      <img width="40" alt="Angular Logo" title="Angular"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" /><span
        class="AmpSize">&</span>
      <img class="fbLogo" src="../assets/img/firebase-icon2.png" height="29" width="115" title="Firebase" alt="">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <li class="nav-item">
            <a class="nav-link text-white" href="/Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/Features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/Youtube">Youtube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/Blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="activeLink nav-link text-white" href="/Contact">Contact</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  text-white" href="./" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu fontStyle" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item fontStyle" href="#">Action</a></li>
              <li><a class="dropdown-item fontStyle" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item fontStyle" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted disabled ">Disabled</a>
          </li>
        </ul>

        <img style="position: relative;left: 5px;top:2px;" (click)="handleLogout()" class="out-door"
          src="../assets/img/out-door.png" height="30" width="30" title="Logout" alt="">
        <button class="btn btn-primary" (click)="handleLogout()">logout</button>
        &nbsp;

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->

    <!-- Begin page content -->
    <main class="contact-style flex-shrink-0">
        <div class="jumbotron jumbotron-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 style="margin-top: 10px; " class="h1">
                            contact me</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="well well-sm">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">
                                Email Address</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                            </span>
                                            <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="subject">
                                Subject</label>
                                        <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">
                                Message</label>
                                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div style="padding-left:50px" class="col-md-3 ml-auto">
                    <div class="vertical-line"></div>
                    <form>
                        <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                        <address>
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">
                    P:</abbr>
                (123) 456-7890
            </address>
                        <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <!-- <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
      </div>
  </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

<!-- <div class="footer center wide">
    <span class="topDown pwLogoSize fontFace">Created by Paul Welby &copy; 2017-2021 | PW Consulting</span>

    <div class="topDown menuLinks text-white">
        <a class="text-white" [routerLink]="['/Home']">Home</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/About']">About</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/Features']">Features</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/Youtube']">Youtube</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/Blog']">Blog</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/Contact']"><b>Contact</b></a>
    </div>
</div> -->