<nav class="navbar fixed-top navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">

        <div>
            <img style="cursor: pointer;" [routerLink]="'/Login'" width="40" alt="Angular Logo" title="Angular" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
            />
            <span style="cursor: pointer;" [routerLink]="'/Login'" style="position:relative; color: #fff;top:4px;" class="AmpSize">&</span>
            <img style="cursor: pointer;" [routerLink]="'/Login'" class="fbLogo" src="../assets/img/firebase-icon2.png" height="29" width="115" title="Firebase" alt="">
        </div>

        <!-- <a style="color: #fff;" class="navbar-brand" href="#">Navbar</a> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> &nbsp;&nbsp;&nbsp;

        <div *ngIf="topNBService.visible" class="menu-items collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li *ngFor="let item of menuItems" class="nav-item m5">
                    <a style="color: #fff;" routerLinkActive="active" class="nav-link" routerLink="{{ item.linkUrl }}"> {{ item.linkName }}
                    </a>
                </li>
            </ul>

        </div>
        <!-- Welcome: -->
        <!-- <mat-card style="height: 30px;" *ngIf="(afAuth.user | async)"> -->
        <mat-card style="height: 30px;" *ngIf="(afAuth.user | async)">
            <mat-icon class="checkCircle">check_circle</mat-icon>

            <span style="position:relative; bottom: 18px; margin-left:10px; width: 1000px">Welcome:
                    <span *ngIf="(afAuth.user | async)">{{ (afAuth.user | async)?.email }}</span>
            </span>
        </mat-card>
        <mat-card class="not-logged-in-style" *ngIf="!(afAuth.user | async)">
            <mat-icon style="position:relative; bottom: 12px;">do_not_disturb</mat-icon>
            <span style="position:relative; bottom: 18px; margin-left:10px">User is not logged in</span>
        </mat-card>



        <form *ngIf="topNBService.visible " class="ngbDropdown navbar-nav d-flex ">
            <div class="col ">

                <logout></logout>
            </div>
        </form>


    </div>
</nav>