body {
    margin-top: 50px;
}

div .container {
    position: relative;
    top: 100px;
}

.AmpSize {
    font-size: 24px;
}

.pwLogoSize {
    font-size: 30px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.fontFace {
    font-family: cursive;
}

.center {
    text-align: center;
}

.wide {
    width: 1000px
}

.navbar>.container {
    height: 40px;
}