<body>


    <!-- Begin page content -->
    <!-- <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Blog Page!</h1>
            <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>

        </div>
    </main> -->

    <main class="about-style flex-shrink-0">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">Blog Page!</h1>
                <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
                <a class="btn btn-outline-secondary" href="#">Coming soon</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    </main>

    <!--   <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

    <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

<!-- <div class="footer center wide">
    <span class="topDown pwLogoSize fontFace">Created by Paul Welby &copy; 2017-2021 | PW Consulting</span>

    <div class="topDown menuLinks text-white">
        <a class="text-white" [routerLink]="['/Home']">Home</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/About']">About</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/Features']">Features</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/Youtube']">Youtube</a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/Blog']"><b>Blog</b></a>&nbsp;<span class="text-muted">|</span>
        <a class="text-white" [routerLink]="['/Contact']">Contact</a>
    </div>
</div> -->